{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="notification">
      <div class="emoji">🚀</div>
      <div>
        <p class="weight-strong">This is your demo app.</p>
        <p class="small">Each branch gets its own database. Check it out and then head back to Runnable.</p>
      </div>
    </div>

    <h1 class="h1">Todo List</h1>

    <ul class="todo-list">

      {% for task in tasks %}
      <li class="todo-list-item">
        <a class="button-complete" onclick="deleteTodo({{ task.id }})"></a>
        {{ task.content }}
      </li>
      {% endfor %}

      <form method="post" action="/task/create" class="addTodo">
        {% csrf_token %}
        {{ form }}
      </form>

    </ul>
  </div>

  <script>
    function deleteTodo (id) {
      fetch(`/task/${id}/delete`, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'X-CSRFToken': Cookies.get('csrftoken')
        }
      })
      .then(function (response) {
        location.reload()
      })
      .catch(function (err) {
        console.log('Could not delete', err)
      })
    }
  </script>
{% endblock %}
