{% extends "base.html" %}

{% block content %}
    <h2>Django Starter: Todo List</h2>
    <ul class="task-list">
        {% for task in tasks %}
				<li>
					<form method="post" action="/task/{{ task.id }}/delete" class="delete-form">
						{% csrf_token %}
						<input type="submit" value="Delete" />
					</form>
					<span class="content">{{ task.content }}</span>
				</li>
        {% endfor %}
    </ul>
		<div class="submit-view">
			<form method="post" action="/task/create">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit" />
			</form>
		</div>
{% endblock %}
